<body>

    <div class="userShowPage">

        <nav id="sideBar">
            <h1>Music Log</h1>
            <a href="/">Home</a>
            <a href="/user/{{user._id}}/artist">Artists</a>
            <a href="/user/{{user._id}}/artist/{{artist._id}}/song">Songs</a>
        </nav>
        <div id="rightSide">
            <div id="uspThings">
                <h1>List Of Artists</h1>

                {{#each artists}}


                <div>
                    <ul>
                        <li>
                            {{ArtistName}} <a href="/user/{{userId}}/artist/{{_id}}">View</a>
                            <a href="/user/{{userId}}/artist/{{_id}}/edit"> Edit</a>
                            <form action="/user/{{userId}}/artist/{{_id}}?_method=DELETE" method="POST"> <input
                                    type="submit" value="Delete"> </form><br>

                        </li>
                    </ul>
                </div>
                {{/each}}

                {{!-- FIX THIS LINK --}}
                <a href="/user/{{artist._Id}}/artist/new">Add Artist</a>

            </div>

        </div>
    </div>
</body>